.xcomponent-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.xcomponent-overlay.xcomponent-popup {
    cursor: pointer;
}

.xcomponent-close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 16px;
    height: 16px;
    opacity: 0.6;
}

.xcomponent-close:hover {
    opacity: 1;
}

.xcomponent-close:before, .xcomponent-close:after {
    position: absolute;
    left: 8px;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: white;
}

.xcomponent-close:before {
    transform: rotate(45deg);
}

.xcomponent-close:after {
    transform: rotate(-45deg);
}
