<div class="{CLASS.XCOMPONENT}-overlay {CLASS.FOCUS}">
    <a href="#{CLASS.CLOSE}" class="{CLASS.CLOSE}"></a>

    <div class="{CLASS.ELEMENT}"></div>
</div>

<style>
    #{id} .{CLASS.XCOMPONENT}-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    #{id}.{CLASS.POPUP} .{CLASS.XCOMPONENT}-overlay {
        cursor: pointer;
    }

    #{id}.{CLASS.LIGHTBOX} .{CLASS.ELEMENT} {
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.4);
    }

    #{id} .{CLASS.CLOSE} {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 16px;
        height: 16px;
        opacity: 0.6;
    }

    #{id} .{CLASS.CLOSE}:hover {
        opacity: 1;
    }

    #{id} .{CLASS.CLOSE}:before, .{CLASS.CLOSE}:after {
        position: absolute;
        left: 8px;
        content: ' ';
        height: 16px;
        width: 2px;
        background-color: white;
    }

    #{id} .{CLASS.CLOSE}:before {
        transform: rotate(45deg);
    }

    #{id} .{CLASS.CLOSE}:after {
        transform: rotate(-45deg);
    }
</style>