<div class="{CLASS.OVERLAY} {CLASS.FOCUS}">
    <a href="#{CLASS.CLOSE}" class="{CLASS.CLOSE}"></a>

    <div class="{CLASS.ELEMENT}"></div>
</div>

<style>
    #{id}.{CLASS.XCOMPONENT} {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #{id}.{CLASS.XCOMPONENT} .{CLASS.OVERLAY} {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    #{id}.{CLASS.XCOMPONENT} .{CLASS.OVERLAY}.xcomponent-popup {
        cursor: pointer;
    }

    #{id}.{CLASS.XCOMPONENT} .{CLASS.CLOSE} {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 16px;
        height: 16px;
        opacity: 0.6;
    }

    #{id}.{CLASS.XCOMPONENT} .{CLASS.CLOSE}:hover {
        opacity: 1;
    }

    #{id}.{CLASS.XCOMPONENT} .{CLASS.CLOSE}:before, .{CLASS.CLOSE}:after {
        position: absolute;
        left: 8px;
        content: ' ';
        height: 16px;
        width: 2px;
        background-color: white;
    }

    #{id}.{CLASS.XCOMPONENT} .{CLASS.CLOSE}:before {
        transform: rotate(45deg);
    }

    #{id}.{CLASS.XCOMPONENT} .{CLASS.CLOSE}:after {
        transform: rotate(-45deg);
    }
</style>